.hud {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
}

.hud p {
  margin: 0;
  font-size: 0.75rem;
  text-align: left;
  color: var(--dark-muted);
}
