*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --light: #f2e8cf;
  --dark: #1c1c1c;

  --primary: #6a994e;
  --primary-dark: #386641;
  --primary-light: #a7c957;

  --success: #6a994e;
  --danger: #bc4749;

  --secondary: #bc4749;
}

html,
body,
.root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.root {
  background-color: var(--light);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 2rem;
  gap: 0;
  width: 100%;
  height: 100%;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  text-align: center;
  color: var(--dark);
}

button {
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 1rem;
  color: var(--light);
  background-color: var(--primary);
  border: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--primary-dark);
}

.vbox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.vbox button {
  width: 100%;
}

.display-none {
  display: none;
}

.fade-wrapper {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 250ms ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.success-color {
  color: var(--success);
}
.danger-color {
  color: var(--danger);
}
